package [[ .fragmenta_resource ]]_actions

import (
	"net/http"

	"github.com/fragmenta/model/url"
	"github.com/fragmenta/router"
	"github.com/fragmenta/view"
	"github.com/fragmenta/view/helpers"

	"[[ .fragmenta_generate ]]/[[ .fragmenta_resources ]]"
)

// HandleShow displays a single [[ .fragmenta_resource ]]
func HandleShow(context *router.Context) {

	// Setup context for template
	view := view.New(context)

	[[ .fragmenta_resource ]], err := [[ .fragmenta_resources ]].Find(context.ParamInt("id"))
	if err != nil {
		view.RenderError(context.Writer, err)
		return
	}

	// Authorize
	if !context.Authorize([[ .fragmenta_resource ]]) {
		view.RenderStatus(context.Writer, http.StatusUnauthorized)
		return
	}

	// Serve template
	view.AddKey("[[ .fragmenta_resource ]]", [[ .fragmenta_resource ]])
	view.AddKey("admin_links", helpers.LinkTo("Edit [[ .Fragmenta_Resource ]]", url.Update([[ .fragmenta_resource ]])))

	view.Render(context.Writer)

}
