<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Fragmenta Setup</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css" media="screen">

    body {
        text-align:center;
    }

    .button {
        border-radius:0.2rem;
        border:none;
        color:#fff;
        padding:1rem 2rem;
        background-color:#444;
        margin:1rem;
    }
    
    .field label {
        display:block;
    }
    
    
    
</style>

</head>
<body>
    
<h1>Welcome</h1>
<form method='post'>
    
<h4>Admin user</h4>

<div class="field">
<label>Email</label>
<input type=text name=user_email placeholder="example@example.com">
</div>

<div class="field">
<label>Password</label>
<input type=text name=user_password>
</div>


<h4>Database</h4>
<p>These fields are optional, and will be completed with sensible values if left blank.</p>
<div class="field">
    <select name="db_adapter">
    <option value="postgres">Postgresql</option>
    <option value="mysql">MySql</option>
    </select>
</div>

<div class="field">
<label>Database Name</label>
<input type=text name=db>
</div>

<div class="field">
<label>Database User</label>
<input type=text name=db_user>
</div>

<div class="field">
<label>Database Password</label>
<input type=password name=db_pass >
</div>


<div class="actions">
<input type=submit class="button" value="Setup">
</div>

</form>

</body>
</html>
